{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn customButton">{{ button_label|default('Créer') }}</button>
        <a class="customButton" id="back" href="{{ path('utilisateur_index') }}">Retour</a>
    </div>
{{ form_end(form) }}
