
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="customButton">{{ button_label|default('Enregister') }}</button>
    <a class="customButton" id="back" href="{{ path('client_index') }}">Retour à la liste</a>
{{ form_end(form) }}