{% extends 'base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <div id="utilisateur"></div>
    <h1>Mes Prospects</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>societe</th>
                <th>telephone</th>
                <th>adresse</th>
                <th>siret</th>
            
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td>{{ prospect.id }}</td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.societe }}</td>
                <td>{{ prospect.telephone }}</td>
                <td>{{ prospect.adresse }}</td>
                <td>{{ prospect.siret }}</td>
                <td>
                    <a href="{{ path('prospect_show', {'id': prospect.id}) }}">show</a>
                    <a href="{{ path('prospect_edit', {'id': prospect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prospect_new') }}">Créer un prospect</a>
    <button>Importer Prospect</button>
{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('rep_log_react') }}
{% endblock %}
