{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="customButton">{{ button_label|default('Enregistrer') }}</button>
    <a id="back" class="customButton" href="{{ path('commercial') }}">Retour au calendrier</a>
{{ form_end(form) }}
